.calendar {
    width: 350px;
    background-color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: auto;
    overflow: auto;
    border: double;
}

.titleDiv {
    width: 350px;
    height: 25px;
    padding-top: 10px;
    text-align: center;
    font-weight: bold;
}

.dayOfWeekDiv {
    width: 50px;
    height: 35px;
    float: left;
    text-align: center;
    vertical-align: middle;
    line-height: 30px;
}

.dayDiv {
    width: 48px;
    height: 28px;
    float: left;
    text-align: center;
    vertical-align: middle;
    line-height: 28px;
    border: groove;
    border-width: 1px;
}

.currentDay {
    background-color: #DBB4A7;
    font-weight: bold;
}

.selectedDay {
    background-color: #A7CEDB;
    height:22px;
    width:42px;
    font-weight: bold;
    border-color:#00A1D6;
    border-radius:2px;
    border-width:4px;
    line-height:22px;
}

.disabledDay {
    background-color:red;
}

.disabledDay:hover {
    background-color: red !important;
    cursor:not-allowed !important;
}

.markedDay {
    background-color:#CEA7DB;
}

.weekendDay {
    color: red;
    font-style: italic;
}

.prevButton {
    margin-left: 20px;
    float: left;
}

.nextButton {
    margin-right: 20px;
    float: right;
}

.button {
    background: #3498db;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #ffffff;
    font-size: 12px;
    line-height: 15px;
    text-decoration: none;
}

    .button:hover {
        background: #3cb0fd;
        text-decoration: none;
    }

.controlPanelButton {
    margin-left:30px;
}

.propertyButton {
    width:80px;
    margin-bottom:5px;
}

.otherMonth {
    color: lightgray;
}

.dayDiv:hover {
    background-color: #B4DBA7;
    font-weight: bold !important;
    cursor: pointer;
}

body {
    background-color: #A7CEDB;
}

.controlPanel {
    width: 350px;
    background-color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: auto;
    overflow: auto;
    border: double;
    float: left;
    padding-bottom:20px;
}

.controlPanelHeader {
    font-size: small;
    margin-left: 20px;
    font-style: italic;
}

.controlPanelText {
    font-weight: bold;
    margin-left: 30px;
    margin-top: -5px;
    font-size: small;
}

.propertyList {
    margin-top: -5px;
    font-size: small;
    list-style-type: none;
    width:300px;
  margin-bottom:10px;
  overflow:hidden;
}

.propertyList li {
    line-height:1.5em;
  float:left;
  display:inline;
  width:33.333%;
}

.controlPanelDiv {
    margin-top:20px;
}

.goToDateButton {
    margin-right:35px;
}